<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .container {
          background-color: #116cf5ad; /* Set your desired background color */
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Set your desired box shadow */
          padding: 20px; /* Add padding for content inside the container */
          border-radius: 10px; /* Optional: Add border-radius for rounded corners */
      }
  </style>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  <!--Navbar-->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">Customer Segmentation App</span>
    </div>
  </nav>
  <br><br>
  <!---Body Start-->
 <div class="container">
  <form method="POST" action="/">
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Annual Income</span>
      <input type="number" name="annual_income" class="form-control" placeholder="For eg. Enter 15 if 150K" aria-label="Username" aria-describedby="addon-wrapping" required>
    </div>
    <br>
    <div class="input-group flex-nowrap">
      <span class="input-group-text" id="addon-wrapping">Spending Score</span>
      <input type="number" name="spending_score" class="form-control" placeholder="Spending Score" aria-label="Username" aria-describedby="addon-wrapping" required>
    </div>
    <br>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
  <div>
    <h2>{{ msg }}</h2>
  </div>
 </div>


  </body>
</html>